<div class="card border-success">
  <div class="card-header no-selection">
    <h5>Crear Evento</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-success" href="#">Crear Evento</a>
  </div>
</div>
<br>
<div class="card border-success">
  <div class="card-header no-selection">
    <h5>Agregar Tipo de Asiento</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-success" href="/tipoAsiento/create">Agegar Tipo de Asiento</a>
  </div>
</div>
<br>
<div class="card border-primary">
  <div class="card-header no-selection">
    <h5>Actualizar Estadio</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-primary" href="/estadio/update">Actualizar Estadio</a>
  </div>
</div>
<br>
<div class="card border-danger">
  <div class="card-header no-selection">
    <h5>Eliminar Estadio</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-danger" href="/estadio/delete/{{ estadio.id }}">Eliminar Estadio</a>
  </div>
</div>
