{% load crispy_forms_tags %}

<div class="card border-success">
  <div class="card-header no-selection">
    <h5>Crear Evento</h5>
  </div>
  <!-- Cambios -->
  <div class="card-body">
    <form action="/CrearEvento/create/" method="post">
      {% csrf_token %}
      <input type="hidden" name="estadio_id" value="{{ estadio.id }}">
      {{ create_partido_form|crispy }}
      <div class="control-group">
        <div class="controls signup-form-btn">
          <input class="btn btn-success" type="submit" value="Crear Evento">
        </div>
      </div>
    </form>
  </div>
    <!-- Fin Cambios -->
</div>
<br>
<div class="card border-success">
  <div class="card-header no-selection">
    <h5>Agregar Tipo de Asiento</h5>
  </div>
  <div class="card-body">
    <form action="/tipoAsiento/create/" method="post">
      {% csrf_token %}
      <input type="hidden" name="estadio_id" value="{{ estadio.id }}">
      {{ create_tipo_asiento_form|crispy }}
      <div class="control-group">
        <div class="controls signup-form-btn">
          <input class="btn btn-success" type="submit" value="Crear Tipo de Asiento">
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="card border-primary">
  <div class="card-header no-selection">
    <h5>Actualizar Estadio</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-primary" href="/estadio/update">Actualizar Estadio</a>
  </div>
</div>
<br>
<div class="card border-danger">
  <div class="card-header no-selection">
    <h5>Eliminar Estadio</h5>
  </div>
  <div class="card-body">
    <a class="btn btn-danger" href="/estadio/delete/{{ estadio.id }}">Eliminar Estadio</a>
  </div>
</div>
