{% load crispy_forms_tags %}

<div class="card-body">
  <p>{{ estadio.descripción }}</p>
  <div class="card">
    <div id="partidos-header" class="card-header cursor no-selection">
      <h2>Partidos</h2>
    </div>
    <div id="partidos-body" class="card-body hidden">
      {% if partidos_creados %}
      {% for partido in partidos_creados %}
      <li class="list-group-item">
        <h2>
          {{ partido.nombre }}
        </h2>
        <p>Comienza: {{ partido.inicio }}</p>
        <p>Termina: {{ partido.fin }}</p>

        <!-- SI NO EXISTE LA RESERVA -->
        <br>
        <form method="POST" action="/reserva/create/">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
          <input type="hidden" name="partido_id" value="{{ partido.id }}">
          <div class="control-group">
            <label for="tipo_asiento{{ partido.id }}">Tipo de Asiento</label>
            <select name="tipo_asiento_id" class="select control-input" required="" id="tipo_asiento{{ partido.id }}">
              <option value="" selected="">---------</option>
              {% for tipo_asiento in tipo_asientos_disponibles %}
              <option value="{{ tipo_asiento.id }}">{{ tipo_asiento }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="control-group">
            <input type="submit" class="btn btn-success" value="Hacer Reserva">
          </div>
        </form>


          <!-- SI EXISTE LA RESERVA
          <a class="btn btn-primary">Ver Reserva</a>

          <a class="btn btn-danger">Cancelar Reserva</a> -->


        {% if isAuthenticated and user.is_staff %}
        <div class="control-group">
          <a class="btn btn-danger" href="/partido/delete/{{ partido.id }}">Eliminar Partido</a>
        </div>
        {% endif %}

      </li>
      {% endfor %}
      {% else %}
        <div class="alert alert-primary">
          No existen partidos para este estadio actualmente.
        </div>
      {% endif %}
    </div>
  </div>

  <br>

  <div class="card">
    <div id="tipo-asientos-header" class="card-header cursor no-selection">
      <h2>Tipos de Asiento</h2>
    </div>
    <div id="tipo-asientos-body" class="card-body hidden">
      {% if tipo_asientos_disponibles %}
      {% for tipoAsiento in tipo_asientos_disponibles %}
      <li class="list-group-item">
        <h2>
          {{ tipoAsiento.nombre }}
        </h2>
        <p>{{ tipoAsiento.descripcion }}</p>
        {% if isAuthenticated and user.is_staff %}
        <a class="btn btn-danger" href="/tipoAsiento/delete/{{ tipoAsiento.id }}">Eliminar Tipo de Asiento</a>
        {% endif %}
      </li>
      {% endfor %}
      {% else %}
        <div class="alert alert-primary">
          No existen tipos de asiento para este estadio actualmente.
        </div>
      {% endif %}
    </div>
  </div>


  {% if isAuthenticated and user.is_staff %}
  <br>
  <div class="card">
    <div id="admin-panel-header" class="card-header cursor no-selection">
      <h2>Panel Administrativo</h2>
    </div>
    <div id="admin-panel-body" class="card-body hidden">
      {% include "estadios/AdminPanel.html" %}
    </div>
  </div>
  {% endif %}


</div>
