{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="admin-page">

  {% include "admin/Estadios.html" %}
  {% include "admin/Usuarios.html" %}

</div>
{% endblock %}

{% block end %}
<script>
  $(document).ready(function () {
    $("#agregar-estadio-header").click(function () {
      $("#agregar-estadio-body").toggle();
    });
    $("#lista-estadios-header").click(function () {
      $("#lista-estadios-body").toggle();
    });

    $("#agregar-usuario-header").click(function () {
      $("#agregar-usuario-body").toggle();
    });
    $("#lista-usuarios-header").click(function () {
      $("#lista-usuarios-body").toggle();
    });
  });
</script>
{% endblock %}
