{% extends "base.html" %}

{% block content %}

<div class="fitted-box">

  {% if estadio %}
  <div class="card">
    <div class="card-header">
      <h1><small class="text-muted">Estadio</small> {{ estadio.nombre }}</h1>
    </div>
    {% if not EventoCreated and error %}
    <div class="card-body">
      <div class="alert alert-danger">Evento no creado: {{ error }}</div>
      <a class="btn btn-secondary" href="/estadio/{{ estadio.id }}">Regresar al Estadio</a>
    </div>
    {% else %}
    {% include 'estadios/DatosEstadio.html' %}
    {% endif %}


  </div>
  {% else %}
  <div class="alert alert-danger">Estadio no encontrado.</div>
  <a class="btn btn-secondary" href="/estadios">Regresar a la Lista de Estadios</a>
  {% endif %}
</div>
{% endblock %}

{% block end %}
<script>
$(document).ready(function () {
  $("#eventos-header").click(function () {
    $("#eventos-body").toggle();
  });
  $("#tipo-asientos-header").click(function () {
      $("#tipo-asientos-body").toggle();
    });
{% if isAuthenticated and user.is_staff %}
    $("#admin-panel-header").click(function () {
      $("#admin-panel-body").toggle();
    });
{% endif %}
});
</script>
{% endblock %}
