{% extends "base.html" %}

{% block content %}
<div class="fitted-box">
  {% if usuario %}
  <div class="card">
    <div class="card-header">
      <h1>
        <small class="text-muted">{{ usuario.username }}</small>
        {{ usuario.first_name }} {{ usuario.last_name }}
        {% if usuario.is_staff %}
        &nbsp;<span class="badge rounded-pill bg-secondary text-light">Staff</span>
        {% endif %}
        {% if usuario.is_superuser %}
        &nbsp;<span class="badge rounded-pill bg-secondary text-light">Super Usuario</span>
        {% endif %}</h1>
    </div>

    <div class="card-body">
      {% if usuario.first_name or usuario.last_name %}
      <span>{{ usuario.first_name }} {{ usuario.last_name }} | {{ usuario.email }}</span>
      {% else %}
      <span>{{ usuario.email }}</span>
      {% endif %}
      <br>
      <span>Creado el {{ usuario.date_joined }}</span>
      <br>
      <span>Último login el {{ usuario.last_login }}</span>
      {% if isAuthenticated and user.is_staff %}
        <br>
        {% if not usuario.is_staff %}
        <a class="btn btn-secondary" href="/user/makestaff/{{ usuario.id }}">Hacer Staff</a>
        {% else %}
        <a class="btn btn-secondary" href="/user/removestaff/{{ usuario.id }}">Quitar Staff</a>
        {% endif %}
        <a class="btn btn-danger" href="/user/delete/{{ usuario.id }}">Eliminar Usuario</a>
      {% endif %}
      <div class="card">
        <div class="card-header">
          <h2>Reservas</h2>
        </div>
        <div class="card-body">
          {% if reservas_disponibles %}
          <ul class="list-group-flush">
            {% for reserva in reservas_disponibles %}
              <li class="list-group-item">
                <h3>
                  <small class="text-muted">Partido</small>
                  {{ reserva.partido.nombre }}
                </h3>
                <h4>
                  <small class="text-muted">Estadio</small>
                  {{ reserva.partido.estadio.nombre }}
                </h4>
                <h4>
                  <small class="text-muted">Tipo de Asiento</small>
                  {{ reserva.tipoAsiento.nombre }}
                </h4>
                <h4>
                  <small class="text-muted">Costo</small>
                  {{ reserva.tipoAsiento.costo }}
                </h4>
                <a class="btn btn-danger" href="/reserva/delete/{{ reserva.id }}">Eliminar Reserva</a>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <div class="alert alert-primary">No exiten reservas.</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
